@import 'mixins';

.event-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  .event-card {
    &:hover, &:active, &:focus {
      @include clickable-element-active;
    }
  }
}

.event-card {
  @include clickable-element;

  display: grid;
  grid-template-areas:
          "artist artist"
          "desc desc"
          "date price";

  .artist {
    grid-area: artist;
    font-size: 2em;
    margin: 0.5em;
    justify-self: center;
  }

  .description {
    grid-area: desc;
    margin: 1em 0;
    font-size: 1.3em;
  }

  .date {
    grid-area: date;
  }

  .price {
    grid-area: price;
    justify-self: end;
  }
}

.selectable-anchor {
  display: flex;
  margin-top: 2rem;
  cursor: pointer;
  @include clickable-element;
  &:hover, &:active, &:focus, &:not(.collapsed) {
    @include clickable-element-active;
  }
}

.card-body {
  padding: 2rem;
  & > * {
    width: 100%;
  }
}
